/*SELECTORES CSS */
/*Selector de etiqueta (directament amb
el nom de l'etiqueta del HTML)*/
header{ /*selector css*/
  height: 120px; /*Nom de la propietat : valor propietat*/
  background-color: #808080; /*red; ->miro w3school colores*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
/*h1{
  color: blue;
  font-size: 30px;
}*/
/*selector per ID*/
/*faig referencia a l'element ......*/
#logo{
  width: 100px;
  /*height: 100px;*/
}
main{
  text-align: center;
}
form{
  border: 1px solid black;
  width: 60%;
  /*2 valors: 1(adalt-abaix, dreta-esquerra)*/
  margin: 30px auto; /*dreta-esquerra li dic auto q es centrat*/
}
/*tamanys dels elements del form*/
input, textarea, button{  /*si quiero poner lo mismo a los 3 concateno así*/
  width: 100%;
  /*espai entre ells*/
  margin: 10px;
}
textarea{
  /*elimina la possibilitat de redimensionar el text area*/
  resize: none;
}
